<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container mt-3 mb-4">
    <!-- 1) Brand on the left -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/{{ site.logo }}" alt="logo" height="40">
    </a>

    <!-- 2) Mobile toggler -->
    <button
  class="navbar-toggler border-0"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#mainNavbar"
  aria-controls="mainNavbar"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <img
    src="/assets/images/togglericon.svg"
    alt="Abrir menú"
    width="35" height="35"
  >
</button>


    <!-- 3) Nav links on the right -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto fw-bold">
        {% for item in site.data.menus.topmenu %}
            <li class="nav-item">
              <a class="nav-link px-3 {% if item.class %}{{item.class}}{% endif %}"
                href="{% unless item.external %}{{site.baseurl}}/{% endunless %}{{item.url}}"
                alt="{{item.title}}">{{item.title}}</a>
            </li>
            {% endfor %}
      </ul>
    </div>
  </div>
</nav>
